/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COMMON */

.center {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
}

.flex {
  display: flex;
}

.section {
  height: 500px;
}

.b-white {
  background-color: white;
}

.b-grey {
  background-color: #f6f6f6;
}

.b-lightcoral {
  background-color: #f08080;
}

hr {
  border: 2px solid #4b4d4f;
}

.m-btm {
  margin-bottom: 1rem;
}

.m-btm-2 {
  margin-bottom: 2rem;
}

.m-right {
  margin-right: 0.5rem;
}

.button-link {
  padding: 0.8rem;
  border-radius: 25px;
}
/* /COMMON */

/* HEADER */

/* NAV */
nav {
  height: 5rem;
  background-color: #255ee9;
  align-items: center;
  justify-content: center;
}

.nav-container {
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.logo {
  padding-left: 0.5rem;
  min-width: 20%;
  font-size: 0.8rem;
}

.link {
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;
}

.link li {
  list-style: none;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  color: #fff;
}

.login {
  padding: 0.5rem;
  width: 20%;
  font-size: 0.8rem;
  text-align: end;
}

.login a {
  color: black;
  background-color: #fff;
  border-radius: 25px;
  padding: 0.5rem;
  text-decoration: none;
}

/* /NAV */

/* /HEADER */

/* HERO  */
.hero-section {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  /* min-height: 400px; */
  padding: 4rem 0;
  justify-content: center;
  align-items: center;
}
.hero-container {
  margin: 0 auto;
  width: 50%;
}

.hero {
  min-height: 250px;
  text-align: center;
  color: #fff;
  padding-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

.download {
  background-color: white;
  color: black;
}

.open {
  background-color: #23272a;
}
/* /HERO  */

/* MAIN */

/* SECTION */

.section {
  padding: 4rem 0;
  /* justify-content: center;
  align-items: center; */
}

.content {
  min-height: 300px;
  gap: 2rem;
}

.l-blue {
  background-color: #1e90ff;
}

.pink {
  background-color: pink;
}

.col-big {
  width: 60%;
}

.col-small {
  width: 40%;
}

h2 {
  font-size: 2rem;
}

.section-text {
  font-size: 0.9rem;
  font-weight: 500;
}
/* /SECTION */

/* INFO SECTION */

.info {
  padding: 4rem 0;

  justify-content: center;
  align-items: center;
}

.info-container {
  width: 70%;
  text-align: center;
}

.bottom-title {
  font-size: 1.5rem;
}

.bottom-title::before {
  content: "";
  background-image: url(../img/stars.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
}

.info-container a {
  padding: 0.5rem;
  background-color: #7289da;
}
/* INFO SECTION */

/* /MAIN */

/* FOOTER */

/* footer {
  height: 500px;
  background-color: #23272a;
  padding-top: 1rem;
} */

.grid-container {
  height: 350px;
  background-color: #23272a;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.grid {
  min-height: 300px;

  border: 1px dashed black;
}

.col {
  border: 1px dashed white;
  width: 30%;
}

.main-col {
  width: 70%;
  display: flex;
}

.footer-menu {
  width: calc(100% / 4);
  background-color: lightgray;
  border: 1px dashed black;
}

/* SIGNED */
.signed-container {
  background-color: #23272a;
  /* height: 100px; */
  padding-top: 2rem;
  align-items: flex-end;
}

.signed {
  height: 60px;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
}

.logo-btm,
.button {
  padding: 0.4rem;
  background-color: #ffb6c1;
  border: 1px dashed black;
}

/* SIGNED */

/* /FOOTER */
